<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!--https://keepworking.tistory.com/28-->
<video id="cameraview" width="720" height="480"></video>
<!--https://blog.alan.imdeo.kr/17-->
<button onclick="capture()">캡쳐</button>

<img id="captureimg"/>

<form method="post" th:object="${person}">
<!--TODO 사람 객체 만들어서 PERSON 속성에 저 사진 DATA 넣을 수 있는지 보기-->
</form>

</body>
<script>
    mainInit();

    // Init camera
    function camInit(stream) {
        var cameraView = document.getElementById("cameraview");
        cameraView.srcObject = stream;
        cameraView.play();
    }

    function camInitFailed(error) {
        console.log("get camera permission failed : ", error)
    }

    // Main init

    function mainInit() {
        // Check navigator media device available
        if (!navigator.mediaDevices || !navigator.mediaDevices.getUserMedia) {
            // Navigator mediaDevices not supported
            alert("Media Device not supported")
            return;
        }

        navigator.mediaDevices.getUserMedia({
            //어떤 것이 필요한지
            video: true
        }).then(camInit)
            .catch(camInitFailed);


    }
    function capture() {
        const video = document.getElementById("cameraview");
        const canvas = document.createElement("canvas");
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
        const img = canvas.getContext("2d").drawImage(video, 0, 0, canvas.width, canvas.height);
        const dataURL = canvas.toDataURL("image/png");
        const imgTag = document.getElementById("captureimg");
        imgTag.src = dataURL;
    }
</script>
</html>